$colors: (
    // 메인컬러
    primary: #111827,
    secondary: #705CF6,
    accent: #e74c3c,

    // 텍스트 컬러
    text: #333,
    heading: #111,
    muted-text: #777,

    // 하얀색 투명도 변수
    white-10: rgba(255, 255, 255, 0.1),
    white-20: rgba(255, 255, 255, 0.2),
    white-30: rgba(255, 255, 255, 0.3),
    white-40: rgba(255, 255, 255, 0.4),
    white-50: rgba(255, 255, 255, 0.5),
    white-60: rgba(255, 255, 255, 0.6),
    white-70: rgba(255, 255, 255, 0.7),
    white-80: rgba(255, 255, 255, 0.8),
    white-90: rgba(255, 255, 255, 0.9),
    white-100: rgba(255, 255, 255, 1),

    // 검은색 투명도 변수
    black-10: rgba(0, 0, 0, 0.1),
    black-20: rgba(0, 0, 0, 0.2),
    black-30: rgba(0, 0, 0, 0.3),
    black-40: rgba(0, 0, 0, 0.4),
    black-50: rgba(0, 0, 0, 0.5),
    black-60: rgba(0, 0, 0, 0.6),
    black-70: rgba(0, 0, 0, 0.7),
    black-80: rgba(0, 0, 0, 0.8),
    black-90: rgba(0, 0, 0, 0.9),
    black-100: rgba(0, 0, 0, 1)
);

:root {
    @each $name, $value in $colors {
        --#{$name}-color: #{$value}; // CSS 변수로 변환
    }
}